{% include 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="container bg-white shadow-md p-5 form-layout">
        <h1>Login</h1>
        <hr>

        <form action="{% url 'login' %}", method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary navbar-btn text-white w-100 p-2">Submit</button>
            {{ form.non_field_errors }}
            <br>
            <br>
            <div class="text-center">
                <a href="{% url 'register' %}">Don't have an account?</a>
            </div>
        </form>
    </div>
{% endblock %}