{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="container bg-white shadow-md p-5 form-layout">
        <h1>Create your account</h1>
        <hr>

        <form action="{% url 'account:register' %}", method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col">{{ form.first_name|as_crispy_field }}</div>
                <div class="col">{{ form.last_name|as_crispy_field }}</div>
            </div>
            {{ form.email|as_crispy_field }}
            {{ form.password1|as_crispy_field }}
            {{ form.password2|as_crispy_field }}
            <br>
            <button type="submit" class="btn btn-primary navbar-btn text-white w-100 p-2">Submit</button>
        </form>
    </div>
{% endblock %}
